{% extends "store/layout.html" %}

{% block body %}
<h2 class="mb-4" style="color: #6b1fad;">Register</h2>

<div class="row">

   
    <div class="col-md-7">
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.username.label_tag }}
                <div>{{ form.username }}</div>
            </div>

            <div class="mb-3">
                {{ form.email.label_tag }}
                <div>{{ form.email }}</div>
            </div>

            <div class="mb-3">
                {{ form.password1.label_tag }}
                <div>{{ form.password1 }}</div>
            </div>

            <div class="mb-3">
                {{ form.password2.label_tag }}
                <div>{{ form.password2 }}</div>
            </div>

            <button type="submit" class="btn" style="background-color: #6b1fad; border:none; color:white;">
                Create Account
            </button>
        </form>

        <p class="mt-3">
            Already have an account?
            <a href="{% url 'login' %}">Login here</a>
        </p>
    </div>

    
    <div class="col-md-5">
        <div class="p-3" style="border: 1px solid #ccc; border-radius: 6px; background: #fafafa;">
            <h6 style="color:#6b1fad;">Password Requirements</h6>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}

